<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><!-- "name" property will be injected here --></title>
    <meta
      name="description"
      content="'description' property will be injected here"
    />
    <script>
      // START declaration of arguments from scene token
      const ARGV = [] // e.g. [123, '@current_block']
      // END
    </script>

    <!-- START injection of any external dependencies as script tags -->
    <!-- END -->

    <style>
      body {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
      }

      /* START injection of any CSS you may have in the tokens */
      /* END */
    </style>
  </head>
  <body>
    <!-- START injection of any HTML found in the tokens -->
    <!-- END -->

    <script>
      // START injection of any on-chain/internal dependencies
      // END

      // START injection renderer token
      // END
    </script>
  </body>
</html>
